.cursor{
    cursor: pointer;
}


.blog-wrapper{
    height:100vh;
    background: #f2f2f2
}
.blog-container{
    width: 1140px;
    margin: auto;
    min-height: 100%;
  
}
.blog-avatar{
    text-align: center
}
.blog-avatar img{
    width: 150px;
}
.blog-input{
    text-align: center;
    padding: 20px 0 0 0
}
.blog-input input{
  
    padding: 6px;
    width: 300px;
    height: 20px;
    border: 1px solid #f1f1f1;
    margin-right: 16px;
    outline:none;
    outline-color: #2196F3;
    border-radius: 2px;

}
.blog-input input:focus{
     border:1px solid #1890ff;
}
.blog-content{
    width: 800px;
    margin: auto;
    background: #ffffff;
    min-height: 70vh;
    margin-top: 10px;
    box-shadow: 0 2px 8px #d8d8d8;
}
.blog-content-title{
    font-size: 18px;
    color: #1890ff;
    padding-top: 5px;
    padding-left: 20px;
    position: relative;
}
.blog-content-title::before{
    content: '';
    width:4px;
    height: 100%;
    background:#1890ff;
    position: absolute;
    top: 0;
    left: 0;
  
}
.blog-list{
    padding: 20px;
}
.list-item{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1
}
.list-item:hover{
    background: #f2f2f2;
    cursor: pointer;
}
.blog-list-title{
    flex: 0 0 600px;
    font-size: 14px
}
.blog-list-title span{
    background: chartreuse;
    padding: 4px;
    box-sizing: border-box;
    font-size: 12px;
    border-radius: 5px;
    color: #ffffff
}
.blog-list-date{
    font-size: 14px
}
.blog-footer{
    text-align: center;
    margin-top: 30px
}